*{
    margin: 0;
    max-height: 100vh;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
header{
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0 2.5rem;
}
.logoJujutsu{
    width: 28rem;
}
.logoJujutsuJapan{
    width: 17rem;
    margin-left: 1rem;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem 0;
}
button{
    box-shadow: 0.1rem 0px 0.2rem #DCDCDC;
}
section{
    background-color: rgba(0, 0, 0, 0.70);
    width: 42rem;
    padding: 1rem;
    margin: 8rem 0 0 12rem;
    backdrop-filter: blur(0.3rem);
    border-radius: 0.3rem;
    transition: 500ms;
}
section:hover{
    transform: scale(1.1);
}
.titleCharacter{
    text-shadow: 
    0.1rem 0.1rem 0 #000000,
    -0.1rem -0.1rem 0.2rem #1E90FF;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}
.characterDescription{
    text-align: center;
    font-size: 2.2rem;
    color: #ffffff;
    text-shadow: -0.1rem 0.1rem 0 #000000;
    font-weight: 550;
    font-family: 'Fira Sans', sans-serif;
}
span{
    transition: 0.2s;
    font-style: italic;
}
span:hover{
    text-shadow: 
    0.1rem 0.1rem 0 #000000,
    -0.1rem -0.1rem 0.1rem #1E90FF,
    -0.1rem -0.1rem 0.2rem #FF0000;
    transition: 0.7s;
    color: #ffffff;
}
.buttonGojo{
    background-image: url(../assets/icons/iconGojo.png);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 300ms;
}
.buttonGojo:hover{
    transform: scale(1.3);
}
.buttonYuji{
    background-image: url(../assets/icons/iconYuji.png);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.buttonYuji:hover{
    transform: scale(1.3);
    transition: 0.2s;
}
.buttonMegumi{
    background-image: url(../assets/icons/iconMegumi.png);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.buttonMegumi:hover{
    transform: scale(1.3);
    transition: 0.2s;
}
.buttonNanami{
    background-image: url(../assets/icons/iconNanami.png);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.buttonNanami:hover{
    transform: scale(1.3);
    transition: 0.2s;
}
.buttonNobara{
    background-image: url(../assets/icons/iconNobara.png);
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.buttonNobara:hover{
    transform: scale(1.3);
    transition: 0.2s;
}
.yuji{
     background: url(../assets/background/yujiItadori.png);
     background-size:cover;
     background-color: #000000;
     background-repeat: no-repeat;
     background-position: center;
}
.satoru{
    background: url(../assets/background/satoruGojo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nobara{
    background: url(../assets/background/nobaraKugisaki.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.megumi{
    background: url(../assets/background/megumiFushiguro.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nanami{
    background: url(../assets/background/kentoNanami.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
@media(max-width: 50rem){

.logoJujutsu{
    width: 20rem;
}
.logoJujutsuJapan{
    width: 12rem;
    margin-left: 1rem;
}
section{
    background-color: rgba(0, 0, 0, 0.70);
    width: 38rem;
    padding: 0.5rem;
    margin: 5rem auto auto auto;
    backdrop-filter: blur(0.1rem);
    border-radius: 0.3rem;
    transition: 0.3s;
}
section:hover{
    transform: none;
}
.characterDescription{
    text-align: center;
    font-size: 1.8rem;
    color: #ffffff;
    text-shadow: -0.1rem 0.1rem 0 #000000;
    font-weight: 550;
    font-family: 'Fira Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}
.yuji{
    background: url(../assets/background/responsiveBackground/yujiItadori.jpg);
    background-size:cover;
    background-color: #000000;
    background-repeat: no-repeat;
}
.satoru{
    background: url(../assets/background/responsiveBackground/satoruGojo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nobara{
    background: url(../assets/background/responsiveBackground/nobaraKugisaki.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nanami{
    background: url(../assets/background/responsiveBackground/kentoNanami.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.megumi{
    background: url(../assets/background/responsiveBackground/megumiFushiguro.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
}