*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
header{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0 1.8rem;
}
.logoJujutsu{
    width: 28rem;
}
.logoJujutsuJapan{
    width: 17rem;
    margin-left: 1rem;
}
section{
    flex: 1 1 0;
}
.content{
    background-color: rgba(0, 0, 0, 0.70);
    width: 42rem;
    padding: 1rem;
    margin: 6rem 0 0 10rem;
    backdrop-filter: blur(0.3rem);
    border-radius: 0.3rem;
    transition: 500ms;
}
.content:hover{
    transform: scale(1.1);
}
.titleCharacter{
    margin: 1rem;
    text-shadow: 
    0.1rem 0.1rem 0 #000000,
    -0.1rem -0.1rem 0.2rem #1E90FF;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}
.characterDescription{
    text-align: center;
    font-size: 2.2rem;
    color: #ffffff;
    text-shadow: -0.1rem 0.1rem 0 #000000;
    font-weight: 550;
    font-family: 'Fira Sans', sans-serif;
}
span{
    transition: 0.2s;
    font-style: italic;
}
span:hover{
    text-shadow: 
    0.1rem 0.1rem 0 #000000,
    -0.1rem -0.1rem 0.1rem #1E90FF,
    -0.1rem -0.1rem 0.2rem #FF0000;
    transition: 0.7s;
    color: #ffffff;
}
footer{
    display: flex;
    justify-content: center;
    margin-top:2.5rem;
}
nav{
    display: flex;
    gap: 1.5rem;
}
button{
    margin-bottom: 3rem;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    border: 0.2rem solid #DCDCDC;
    cursor: pointer;
    transition: 300ms;
}
.buttonGojo{
    background-image: url(./assets/icons/iconGojo.png);
}
.buttonYuji{
    background-image: url(./assets/icons/iconYuji.png);
}
.buttonMegumi{
    background-image: url(./assets/icons/iconMegumi.png);
}
.buttonNanami{
    background-image: url(./assets/icons/iconNanami.png);
}
.buttonNobara{
    background-image: url(./assets/icons/iconNobara.png);
}
.buttonGojo:hover, .buttonMegumi:hover, .buttonNanami:hover, .buttonNobara:hover, .buttonYuji:hover{
    transform: scale(1.2);
}
.yuji{
     background: url(./assets/background/yujiItadori.png);
     background-size:cover;
     background-color: #000000;
     background-repeat: no-repeat;
     background-position: center;
}
.satoru{
    background: url(./assets/background/satoruGojo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nobara{
    background: url(./assets/background/nobaraKugisaki.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.megumi{
    background: url(./assets/background/megumiFushiguro.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nanami{
    background: url(./assets/background/kentoNanami.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
@media(max-width: 50rem){

.logoJujutsu{
    width: 20rem;
}
.logoJujutsuJapan{
    width: 12rem;
    margin-left: 1rem;
}
.content{
    background-color: rgba(0, 0, 0, 0.70);
    width: 32rem;
    padding: 0.5rem;
    margin: 4rem auto 0 auto;
    backdrop-filter: blur(0.1rem);
    border-radius: 0.3rem;
    transition: 0.3s;
}
.content:hover{
    transform: none;
}
.characterDescription{
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff;
    text-shadow: -0.1rem 0.1rem 0 #000000;
    font-weight: 550;
    font-family: 'Fira Sans', sans-serif;
}
nav{
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}
button{
    height: 5.5rem;
    width: 5.5rem;
}
.buttonGojo:hover, .buttonMegumi:hover, .buttonNanami:hover, .buttonNobara:hover, .buttonYuji:hover{
    transform: none;
}
.yuji{
    background: url(./assets/background/responsiveBackground/yujiItadori.jpg);
    background-size:cover;
    background-color: #000000;
    background-repeat: no-repeat;
}
.satoru{
    background: url(./assets/background/responsiveBackground/satoruGojo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nobara{
    background: url(./assets/background/responsiveBackground/nobaraKugisaki.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.nanami{
    background: url(./assets/background/responsiveBackground/kentoNanami.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
.megumi{
    background: url(./assets/background/responsiveBackground/megumiFushiguro.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #000000;
}
}